In [19]:
import pandas as pd
import numpy as np

In [20]:
d= pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [21]:
type(d)

list

In [22]:
len(d)

3

In [23]:
df = d[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [24]:
df.columns = df.iloc[0]
df = df[1:]
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [25]:
df1 = df[df.Borough != 'Not assigned']
df1 = df1.reset_index()

In [26]:
df1.drop(columns='index',axis=1,inplace=True)
df1.head(11)

0  Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Not assigned
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North

In [27]:
df1['Neighbourhood'] =  df1.groupby(by=['Postcode', 'Borough']).transform(lambda x: ', '.join(x))
df1.drop_duplicates(inplace=True)
df1.head(11)

0  Postcode           Borough                     Neighbourhood
0       M3A        North York                         Parkwoods
1       M4A        North York                  Victoria Village
2       M5A  Downtown Toronto         Harbourfront, Regent Park
4       M6A        North York  Lawrence Heights, Lawrence Manor
6       M7A      Queen's Park                      Not assigned
7       M9A         Etobicoke                  Islington Avenue
8       M1B       Scarborough                    Rouge, Malvern
10      M3B        North York                   Don Mills North
11      M4B         East York   Woodbine Gardens, Parkview Hill
13      M5B  Downtown Toronto          Ryerson, Garden District
15      M6B        North York                         Glencairn

In [28]:
df1.loc[df1['Neighbourhood'] == "Not assigned", 'Neighbourhood'] = df1['Borough']

df1.reset_index(inplace=True, drop=True)

df1.head(11)

0  Postcode           Borough                     Neighbourhood
0       M3A        North York                         Parkwoods
1       M4A        North York                  Victoria Village
2       M5A  Downtown Toronto         Harbourfront, Regent Park
3       M6A        North York  Lawrence Heights, Lawrence Manor
4       M7A      Queen's Park                      Queen's Park
5       M9A         Etobicoke                  Islington Avenue
6       M1B       Scarborough                    Rouge, Malvern
7       M3B        North York                   Don Mills North
8       M4B         East York   Woodbine Gardens, Parkview Hill
9       M5B  Downtown Toronto          Ryerson, Garden District
10      M6B        North York                         Glencairn

In [29]:
df1.shape

(103, 3)